.header {
    display: flex;
    align-items: center;
    height: 30%;
    width: 100%;
    justify-content:center;
    
}

.img {
    height: 10em;
    width: 10em;
    border-radius: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    justify-content: space-evenly;
    padding-left: 2%;
    
}

