#container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    background-image: url('../../marble.png');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(141, 141, 211);
    
}

.row {
    display : flex;
    
    flex-direction: row;
    
}