.controlPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    height: 43rem;
    width:33rem;
   /* background-color: rgba(13, 56, 59, 0.733);*/
   background-color: rgba(8, 8, 8, 0.533);
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(228, 224, 224);
    cursor: default;
}

